body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #667eea, #764ba2);
    color: white;
    padding: 20px;
}

h1 {
    text-align: center;
}

footer {
    text-align: center;
    margin-top: 60px;
    padding: 20px;
}
h2{
    text-align: center;
}
h3{
    text-align: center;
}
p{
    font: optional;
    margin-top: 55px;
}